<footer class="footer footer-default" style="padding-top: 50px;">
    <div class="container">
      <nav class="float-center">   
        <ul>
          <li>
            <i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i>
            Sangkalan: Semua yang tertulis pada blog ini adalah pendapat saya secara pribadi dan tidak mewakili pihak manapun dalam cara apapun.
            <i class="fas fa-chevron-right"></i><i class="fas fa-chevron-right"></i>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right" style="padding-top: 50px;">
        ©
        <script>
          document.write(new Date().getFullYear())
        </script>, dibuat dengan <a href="https://wyam.io/" target="="_blank ><i class="material-icons">favorite</i></a> oleh
        <a href="https://fanioz.github.io" target="_blank">fanioz</a>.
      </div>
    </div>
  </footer>